<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Create a New Issue</h3>
    </section>

    <mat-divider></mat-divider>

    <br>

    <form [formGroup]="createForm" class="create-form">
      
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Issue Title" formControlName="title" #title />
        <!--<mat-error *ngIf="createForm.controls['title'].errors.required">
          Title is <strong>required</strong>
        </mat-error>-->
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Responsible" formControlName="responsible" #responsible />
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Description" formControlName="description" #description />
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Severity" formControlName="severity" #severity>
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>

      <br><br>

      <button mat-raised-button color="accent" routerLink="/list">Back</button>
      &nbsp;
      <button type="submit" (click)="addIssue(title.value,responsible.value,description.value,severity.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
      
    </form>

  </mat-card>
</div>

<!-- <p>create works!</p> -->
