
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular 8 MEAN Issue Tracker</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>MERN App</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Verified user icon">verified_user</mat-icon>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>With @angular/material included&hellip;</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Delete icon">delete</mat-icon>
  </mat-toolbar-row>

</mat-toolbar>

<!-- yields purple -->
<!-- <mat-toolbar color="primary">
  <span>Angular 8 MEAN Issue Tracker</span>
</mat-toolbar> --> 

<!-- yields yellow -->
<!-- <mat-toolbar color="accent">
  <span>Angular 8 MEAN Issue Tracker</span>
</mat-toolbar> -->

<!-- yields dark orange -->
<!-- <mat-toolbar color="warn">
  <span>Angular 8 MEAN Issue Tracker</span>
</mat-toolbar> -->

<!-- <p>toolbar-multirow works!</p> -->
